<div class="view-post-title slickvertical">
  <ul>
    {% for post in posts %}
      <li><h5 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h5></li>
    {% endfor %}  
  </ul>
</div>
