{% set stickyID = {} %}
{% for item in stickypost %}
  {% set stickyID = stickyID|merge({('_'~item.id):(item.id)}) %}
  <div>
    <h5><a href="{{ item.link }}">{{ item.title }}</a></h5>
  </div>
  <br>
{% endfor %}
<br>

{% for post in posts %}
  {% if '_'~post.id not in stickyID|keys %}
    <div><a href="{{ post.link }}">{{ post.title }}</a></div>
    <br>
  {% endif %}
{% endfor %}