{% extends 'layout.twig' %}

{% for post in posts %}
  {% block feature %}
    <div class="feature">
      {% if post.get_field('feature_banner_home') %}
        <div class="block-feature-banner">
          <img src="{{post.get_field('feature_banner_home')}}">
        </div>
      {% endif %}
      {% include 'block-slider.twig' %}
    </div>
  {% endblock %}

  {% block content %}
    {% for item in post.get_field('home_page_shortcode') %}
      {% if item.acf_fc_layout == 'home_shortcode' %}
        <div class="block-home-shortcode {{ item.home_shortcode_class }}">
          {% if item.home_shortcode_title %}
            <h2 class="block-title">{{ item.home_shortcode_title }}</h2>
          {% endif %}
          {% if item.home_shortcode_content %}
            <div class="block-content">
              {{ shortcode(item.home_shortcode_content) }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endblock %}
{% endfor %}
